<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The_P3rch3k - Junior Hockey League</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="navbar-container">
            <a href="#" class="navbar-logo"><img src="/assets/logos/pplhf.png" alt="Logo" height="90%"></a>
            <ul class="navbar">
                <li><a href="matches.html">Матчи</a></li>
                <li><a href="teams.html">Команды</a></li>
                <li><a href="#">Статистика</a></li>
            </ul>
        </div>
    </header>
    <main class="main-content">
        <div class="player_card">
            <div class="player_image">
                <img src="/ assets/players/gthxbr.png" alt="Logo" width="500">
            </div>
            <div class="player_info">
                <h1>The_P3rch3k</h1>
                <table>
                    <tr>
                        <td class="label">Команда</td>
                        <td class="value">
                            <img src="/assets/logos/walled_robots.png" width="30px" alt="Team Logo">
                            <span>Busurman Kittens</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Начало карьеры</td>
                        <td class="value">Junior Hockey League Season 2</td>
                    </tr>
                    <tr>
                        <td class="label">Позиция</td>
                        <td class="value">Полевой игрок</td>
                    </tr>
                    <tr>
                        <td class="label">Статус</td>
                        <td class="value">Активный</td>
                    </tr>
                </table>
                <h1>Статистика игрока</h1>
                <table>
                    <tr>
                        <td class="label">Забито</td>
                        <td class="value">Lorem, ipsum.</td>
                    </tr>
                    <tr>
                        <td class="label">Отдано передач</td>
                        <td class="value">Lorem, ipsum.</td>
                    </tr>
                    <tr>
                        <td class="label">Пропущено</td>
                        <td class="value">Lorem, ipsum.</td>
                    </tr>
                    <tr>
                        <td class="label">Отбито</td>
                        <td class="value">Lorem, ipsum.</td>
                    </tr>
                </table>
            </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>